body {
    padding: 10% 25% 10% 25%;
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 10px;

    border-radius: 5px;
    box-sizing: border-box;

    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;

    display: none;
}

@media(max-width: 640px){
    body {
        padding: 5% 1em 5% 1em;
    }
    
    #card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        padding: 0 1em 0 1em;
    
        border-radius: 5px;
        box-sizing: border-box;
    
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
    }
}